Source: efl
Section: libs
Priority: optional
Maintainer: Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <lutin@debian.org>
Build-Depends: dpkg-dev (>= 1.14.8), debhelper (>= 9), dh-autoreconf,
 pkg-config, check,
 zlib1g-dev, libjpeg-dev, libpng-dev, libtiff-dev, libgif-dev, libxpm-dev,
 libfreetype6-dev, libfontconfig1-dev,
 libx11-dev, x11proto-xext-dev, , libglu1-mesa-dev, mesa-common-dev,
 libfribidi-dev, libxrender-dev,
 libgl1-mesa-dev [!armel !armhf], libgles2-mesa-dev [armel armhf],
 libpixman-1-dev, libxcb-shm0-dev, libxcb-image0-dev, libxcb1-dev,
 libxcursor-dev, libxss-dev, libxrender-dev, libxinerama-dev,
 libxrandr-dev, libxext-dev, libxp-dev, libxcomposite-dev, libxi-dev,
 libxdamage-dev, x11proto-xext-dev, libxtst-dev, libglib2.0-dev,
 liblua5.1-0-dev, libdbus-1-dev, libsndfile-dev,
 libgnutls28-dev, libcurl4-gnutls-dev, libc-ares-dev,
 libudev-dev [linux-any], libmount-dev [linux-any], libblkid-dev [linux-any],
 libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, libgcrypt-dev
Build-Depends-Indep: doxygen
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-e/libs/efl.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-e/libs/efl.git
Homepage: http://www.enlightenment.org

# EINA

Package: libeina1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libeina0
Breaks: libeet1 (<= 1.4.0~beta+1.4.0)
Description: Enlightenment Foundation Library providing optimized data types
 Eina is a multi-platform library that provides optimized data types and a few
 tools. It supports the following data types:
  - Array
  - Hash Table
  - Double-linked list
  - Red-black tree
  - Shared string
  - Access Content types
    + Accessor: can access items of a container randomly
    + Iterator: can access items of a container sequentially

Package: libeina-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libeina1 (= ${binary:Version}), pkg-config
Recommends: efl-doc
Description: Development files for libeina
 Eina is a multi-platform library that provides optimized data types and a few
 tools. It supports the following data types:
  - Array
  - Hash Table
  - Double-linked list
  - Red-black tree
  - Shared string
  - Access Content types
    + Accessor: can access items of a container randomly
    + Iterator: can access items of a container sequentially
 .
 This package contains headers and static libraries for development with
 libeina.

# EET

Package: libeet-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libeet1 (= ${binary:Version}), pkg-config,
 libeina-dev (>= ${source:Upstream-Version}),
 libjpeg-dev, libgnutls28-dev
Recommends: efl-doc
Description: Enlightenment DR17 file chunk reading/writing library development files
 Eet is a tiny library designed to write an arbitrary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allows
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than needed, and it was much simpler to implement
 this once here.
 .
 This package contains headers and static libraries for development with libeet.

Package: libeet1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Enlightenment DR17 file chunk reading/writing library
 Eet is a tiny library designed to write an arbitrary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allows
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than needed, and it was much simpler to implement
 this once here.
 .
 It's small, fast, and does a job. It's heavily commented and fully documented.

Package: libeet-bin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Enlightenment DR17 file chunk reading/writing utility
 Eet is a tiny library designed to write an arbitrary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allows
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than needed, and it was much simpler to implement
 this once here.
 .
 This package contains eet, an utility that allows you to extract, insert,
 encode and decode config blobs created with libeet.

# EVAS

Package: libevas1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libevas-loaders
Description: Enlightenment DR17 advanced canvas library
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package contains the core library and a set of image loaders and/or savers
 for various formats: eet, gif, jpeg, png, svg, tiff and xpm

Package: libevas-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libevas1 (= ${binary:Version}), pkg-config,
 libeina-dev (>= ${source:Upstream-Version}),
 libeet-dev  (>= ${source:Upstream-Version}),
 libjpeg-dev, libx11-dev, libfreetype6-dev, libfontconfig1-dev, libfribidi-dev
Suggests: efl-doc
Description: Enlightenment DR17 advanced canvas library development files
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package provides headers and static libraries required to develop against
 evas.

Package: libevas1-engines-x
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libevas-0.9.9.050a-engines
Replaces: libevas-engines, libevas-engines-extras
Provides: libevas1-engine-software-x11, libevas1-engine-gl-x11
Description: Evas module providing the X11 engines
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package contains the X11-related Evas engine modules:
  - GL/X11
  - Software/X11 (Xlib/XCB)

Package: libevas1-engine-fb
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libevas-0.9.9.050a-engines-extras
Replaces: libevas-engines-extras
Description: Evas module providing the Framebuffer engine
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package contains the framebuffer Evas engine module.

# ECORE

Package: libecore1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Core abstraction layer for enlightenment DR 0.17
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.

Package: libecore-con1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore Connection Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore Connection Library.

Package: libecore-evas1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore Evas Wrapper Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore Evas wrapper functions.

Package: libecore-fb1
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore frame buffer system functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore frame buffer system functions.

Package: libecore-file1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore File Library
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore File Library.

Package: libecore-imf1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore Input Method Framework module
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore Input Method Framework module, and the Evas
 helper functions for it.

Package: libecore-input1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore input module
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore input module.

Package: libecore-ipc1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore inter-process communication functions
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore inter-process communication functions.

Package: libecore-x1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Ecore functions for dealing with the X Window System
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains the Ecore wrapper and convenience functions for using
 the X Window System.

Package: libecore-dev
Architecture: any
Section: libdevel
Suggests: efl-doc
Depends: ${misc:Depends}, libecore1 (= ${binary:Version}), pkg-config,
         libecore-con1 (= ${binary:Version}),
         libecore-evas1 (= ${binary:Version}),
         libecore-fb1 (= ${binary:Version}) [linux-any],
         libecore-file1 (= ${binary:Version}),
         libecore-imf1 (= ${binary:Version}),
         libecore-ipc1 (= ${binary:Version}),
         libecore-x1 (= ${binary:Version}),
         libeina-dev (>= ${source:Upstream-Version}),
         libevas-dev (>= ${source:Upstream-Version}),
         libgnutls28-dev, libcurl4-gnutls-dev, libxcursor-dev, libxss-dev,
         libxrender-dev, libxinerama-dev, libxrandr-dev, libxext-dev, libxi-dev,
         libxp-dev, libxcomposite-dev, libxdamage-dev, x11proto-xext-dev, libxtst-dev,
         libglib2.0-dev, libc-ares-dev, libdbus-1-dev
Description: Ecore headers and static libraries
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications.
 .
 This package contains headers and static libraries for the Ecore library.


# EFREET

Package: libefreet1a
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libefreet1 (<= 1.8.4-1)
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the libefreet0 and libefreet0-mime libraries, which
 contains efreet-based functions for dealing with mime.

Package: libefreet-bin
Architecture: any
Multi-arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: D-Bus activated helper binary to create efreet data caches
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the efreetd helper binary and the associated D-Bus
 service file that are internally used by libefreet.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libefreet1a (= ${binary:Version}), pkg-config,
 libeina-dev  (>= ${source:Upstream-Version}),
 libecore-dev (>= ${source:Upstream-Version})
Suggests: efl-doc
Description: Development files for libefreet and libefreet-mime
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package contains headers and static libraries for Efreet.

Package: libefreet1
Section: oldlibs
Priority: extra
Architecture: all
Depends: ${misc:Depends}, libefreet1a, libefreet-bin
Description: dummy transitional package to libefreet1a+libefreet-bin
 This is a dummy transitional package to allow transition to the Multi-Arch
 packages libefreet1a and libefreet-bin. It can safely be removed.

# EMBRYO

Package: libembryo-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libembryo1 (= ${binary:Version}), pkg-config,
 libeina-dev (>= ${source:Upstream-Version})
Description: Development files for libembryo1
 Embryo is primarily a shared library that gives you an API to load
 and control interpreted programs compiled into an abstract machine
 bytecode that it understands.  This abstract (or virtual) machine is
 similar to a real machine with a CPU, but it is emulated in
 software.
 .
 This package contains headers and static libraries for Embryo.

Package: libembryo1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libembryo-bin
Description: SMALL-based abstract machine (AMX) bytecode interpreter
 Embryo is primarily a shared library that gives you an API to load
 and control interpreted programs compiled into an abstract machine
 bytecode that it understands.  This abstract (or virtual) machine is
 similar to a real machine with a CPU, but it is emulated in
 software.  The architecture is simple and is the same as the
 abstract machine (AMX) in the SMALL language as it is based on
 exactly the same code. Embryo has modified the code for the AMX
 extensively and has made it smaller and more portable.  It is VERY
 small.  The total size of the virtual machine code AND header files
 is less than 2500 lines of code.  It includes the floating point
 library support by default as well.  This makes it one of the
 smallest interpreters around, and thus makes is very efficient to
 use in code.
 .
 See also http://www.compuphase.com/small.htm for details on SMALL.

Package: libembryo-bin
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SMALL compiler creating Embryo bytecode
 Embryo is primarily a shared library that gives you an API to load
 and control interpreted programs compiled into an abstract machine
 bytecode that it understands.  This abstract (or virtual) machine is
 similar to a real machine with a CPU, but it is emulated in
 software
 .
 This package contains the embryo compiler: embryo_cc.

# EDJE

Package: libedje-bin
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}, libembryo-bin (>= 0.9.9.050+svn20090204)
Description: Various binaries for use with libedje
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package contains the following binaries:
  - edje_cc: Compiles EDC files.
  - edje_decc: Used to decompile compiled edje files.
  - edje_recc: A convenience script to recompile EDC files.

Package: libedje1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libelementary1 (<= 1.7.7-1)
Suggests: libedje-bin (= ${binary:Version})
Description: Graphical layout and animation library
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.

Package: libedje-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libedje1 (= ${binary:Version}), libedje-bin, pkg-config,
 libeina-dev   (>= ${source:Upstream-Version}),
 libeet-dev    (>= ${source:Upstream-Version}),
 libevas-dev   (>= ${source:Upstream-Version}),
 libecore-dev  (>= ${source:Upstream-Version}),
 libembryo-dev (>= ${source:Upstream-Version}),
 libeio-dev    (>= ${source:Upstream-Version}),
 liblua5.1-0-dev
Description: libedje headers and static libraries
 Edje is a graphical layout and animation library for animated resizable,
 compressed and scalable themes. It is the theming engine behind
 Enlightenment DR 0.17.
 .
 This package provides headers and static libraries for Edje.

# EIO

Package: libeio1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library providing non-blocking I/O using threads
 This library is part of the Enlightenment Foundation Libraries (EFL). It is
 intended to provide non-blocking IO by using thread for all operations that
 may block. It should integrate all the features/functions of Ecore_File that
 could block.

Package: libeio-dev
Architecture: any
Section: libdevel
Suggests: efl-doc
Depends: ${misc:Depends}, libeio1 (= ${binary:Version}), pkg-config,
 libeina-dev   (>= ${source:Upstream-Version}),
 libeet-dev    (>= ${source:Upstream-Version}),
 libecore-dev  (>= ${source:Upstream-Version})
Description: EIO headers and static libraries
 This library is part of the Enlightenment Foundation Libraries (EFL). It is
 intended to provide non-blocking IO by using thread for all operations that
 may block. It should integrate all the features/functions of Ecore_File that
 could block.
 .
 This package contains headers and static libraries for the EIO library.

# EEZE

Package: libeeze1
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library for manipulating devices through udev
 This library is part of the Enlightenment Foundation Libraries (EFL). It
 interfaces directly with libudev, avoiding such middleman daemons as
 udisks/upower or hal, and gathers device information when it becomes
 known to the system. This can be used to determine such things as:
  - If a cdrom has a disk inserted
  - The temperature of a cpu core
  - The remaining power left in a battery
  - The current power consumption of various parts
  - Monitor in realtime the status of peripheral devices

Package: libeeze-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends}, libeeze1 (= ${binary:Version}), pkg-config,
 libeina-dev  (>= ${source:Upstream-Version}),
 libeet-dev   (>= ${source:Upstream-Version}),
 libecore-dev (>= ${source:Upstream-Version}),
 libblkid-dev, libmount-dev, libudev-dev
Description: EEZE headers and static libraries
 This library is part of the Enlightenment Foundation Libraries (EFL). It
 interfaces directly with libudev, avoiding such middleman daemons as
 udisks/upower or hal, and gathers device information when it becomes
 known to the system. This can be used to determine such things as:
  - If a cdrom has a disk inserted
  - The temperature of a cpu core
  - The remaining power left in a battery
  - The current power consumption of various parts
  - Monitor in realtime the status of peripheral devices
 .
 This package contains headers and static libraries for the Eeze library.

# EMOTION

Package: libemotion1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Media object creation/manipulation library
 Emotion is a library that allows playing audio and video files, using one of
 its backends (GStreamer, xine or generic shm player).
 .
 It is integrated into Ecore through its mainloop, and is transparent to the
 user of the library how the decoding of audio and video is being done. Once
 the objects are created, the user can set callbacks to the specific events and
 set options to this object, all in the main loop.

Package: libemotion-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libemotion1 (= ${binary:Version}), pkg-config,
 libeina-dev  (>= ${source:Upstream-Version}),
 libeet-dev   (>= ${source:Upstream-Version}),
 libevas-dev  (>= ${source:Upstream-Version}),
 libecore-dev (>= ${source:Upstream-Version}),
 libeio-dev   (>= ${source:Upstream-Version}),
 libeeze-dev  (>= ${source:Upstream-Version}) [linux-any],
 libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Description: Development files for libemotion
 Emotion is a library that allows playing audio and video files, using one of
 its backends (GStreamer, xine or generic shm player).
 .
 It is integrated into Ecore through its mainloop, and is transparent to the
 user of the library how the decoding of audio and video is being done. Once
 the objects are created, the user can set callbacks to the specific events and
 set options to this object, all in the main loop.
 .
 This package contains headers and static libraries for the Emotion library.

# ETHUMB

Package: libethumb1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library to create thumbnails for images and documents
 Ethumb uses Evas to generate thumbnail images of given files. The API allows
 great customization of the generated files and also helps complying to
 FreeDesktop.Org Thumbnail Specification.

Package: libethumb-client1
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library to create thumbnails using a D-Bus-actived server
 Ethumb-Client creates thumbnails by communicating with a thumbnail generation
 server using standard D-Bus protocol. The server uses Ethumb itself to
 generate the thumbnail images and cache them using FreeDesktop.Org standard.

Package: libethumb-client-bin
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: D-Bus activated helper binary to create thumbnails with libethumb
 Ethumb-Client creates thumbnails by communicating with a thumbnail generation
 server using standard D-Bus protocol. The server uses Ethumb itself to
 generate the thumbnail images and cache them using FreeDesktop.Org standard.
 .
 This package provides the ethumbd helper binary and the associated D-Bus
 service file that are internally used by libethumb-client.

Package: libethumb-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libethumb1 (= ${binary:Version}), libethumb-client1 (= ${binary:Version}), pkg-config,
 libeina-dev  (>= ${source:Upstream-Version}),
 libeet-dev   (>= ${source:Upstream-Version}),
 libevas-dev  (>= ${source:Upstream-Version}),
 libecore-dev (>= ${source:Upstream-Version}),
 libedje-dev  (>= ${source:Upstream-Version})
Description: Development files for libethumb and libethumb-client
 Ethumb uses Evas to generate thumbnail images of given files. The API allows
 great customization of the generated files and also helps complying to
 FreeDesktop.Org Thumbnail Specification
 .
 Ethumb-Client creates thumbnails by communicating with a thumbnail generation
 server using standard D-Bus protocol. The server uses Ethumb itself to
 generate the thumbnail images and cache them using FreeDesktop.Org standard.
 .
 This package contains headers and static libraries for the Ethumb and
 Ethumb-Client libraries.


Package: efl-doc
Architecture: all
Section: doc
Priority: extra
Depends:  ${misc:Depends},
Breaks:   libeina-doc    (<= 1.8.3),
          libeet-doc     (<= 1.8.3),
          libevas-doc    (<= 1.8.3),
          libecore-doc   (<= 1.8.3),
          libefreet-doc  (<= 1.8.3),
          libembryo-doc  (<= 1.8.3),
          libedje-doc    (<= 1.8.3),
          libeio-doc     (<= 1.8.3)
Replaces: libeina-doc    (<= 1.8.3),
          libeet-doc     (<= 1.8.3),
          libevas-doc    (<= 1.8.3),
          libecore-doc   (<= 1.8.3),
          libefreet-doc  (<= 1.8.3),
          libembryo-doc  (<= 1.8.3),
          libedje-doc    (<= 1.8.3),
          libeio-doc     (<= 1.8.3)
Description: Documentation for the Enlightenment Foundation Libraries
 The Enlightenment Foundation Libraries (EFL) is a set of libraries
 providing building blocks used in the Enlightenment window manager.
 This package contains the Doxygen-generated HTML documentation and
 examples for the API of the EFL.

Package: efl-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends:  ${misc:Depends},
          libeina1       (= ${binary:Version}),
          libeet1        (= ${binary:Version}),
          libevas1       (= ${binary:Version}),
          libecore1      (= ${binary:Version}),
          libecore-con1  (= ${binary:Version}),
          libecore-evas1 (= ${binary:Version}),
          libecore-fb1   (= ${binary:Version}) [linux-any],
          libecore-file1 (= ${binary:Version}),
          libecore-imf1  (= ${binary:Version}),
          libecore-ipc1  (= ${binary:Version}),
          libecore-x1    (= ${binary:Version}),
          libembryo1     (= ${binary:Version}),
          libedje1       (= ${binary:Version}),
          libeio1        (= ${binary:Version}),
          libeeze1       (= ${binary:Version}) [linux-any],
          libemotion1    (= ${binary:Version}),
          libethumb1        (= ${binary:Version}),
          libethumb-client1 (= ${binary:Version})
Breaks:   libeina-dbg    (<< 1.8.3),
          libeet-dbg     (<< 1.8.3),
          libevas-dbg    (<< 1.8.3),
          libecore-dbg   (<< 1.8.3),
          libembryo-dbg  (<< 1.8.3),
          libedje-dbg    (<< 1.8.3),
          libeio-dbg     (<< 1.8.3)
Replaces: libeina-dbg    (<< 1.8.3),
          libeet-dbg     (<< 1.8.3),
          libevas-dbg    (<< 1.8.3),
          libecore-dbg   (<< 1.8.3),
          libembryo-dbg  (<< 1.8.3),
          libedje-dbg    (<< 1.8.3),
          libeio-dbg     (<< 1.8.3)
Description: Debugging symbols for the Enlightenment Foundation Libraries
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.
